# Career Trajectories

## 8.1 Introduction

This chapter analyzes career trajectories using batting data from the Lahman database. We'll examine how player performance changes over time, focusing on Mickey Mantle as a case study.

In [8]:
import sys
sys.path.append('..')
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

sns.set_theme(style='darkgrid', palette='deep')

## 8.2 Mickey Mantle's Batting Trajectory

### Load Lahman data

Using the Lahman database to obtain season-by-season hitting statistics for Mickey Mantle.

In [3]:
people = pd.read_csv('../data/lahman/People.csv')
batting = pd.read_csv('../data/lahman/Batting.csv')

Extract Mickey Mantle's playerID from the People data frame.

In [10]:
mantle_id = people.loc[
    (people['nameFirst'] == 'Mickey') & (people['nameLast'] == 'Mantle'),
    'playerID'
].iloc[0]

print(mantle_id)

mantlmi01

Certain statistics like SF (sacrifice flies) and HBP (hit by pitch) were not recorded for older seasons and are coded as `NaN`. Recode these missing values to 0.

In [5]:
batting = batting.fillna({'SF': 0, 'HBP': 0})

In [7]:
batting[batting['playerID'] == mantle_id]

,playerID,yearID,stint,teamID,lgID,G,G_batting,AB,R,H,...,SB,CS,BB,SO,IBB,HBP,SH,SF,GIDP,G_old
70266,mantlmi01,1951,1,NYA,AL,96,NaN,341,61,91,...,8.0,7.0,43,74.0,NaN,0.0,2.0,0.0,3.0,NaN
70267,mantlmi01,1952,1,NYA,AL,142,NaN,549,94,171,...,4.0,1.0,75,111.0,NaN,0.0,2.0,0.0,5.0,NaN
70268,mantlmi01,1953,1,NYA,AL,127,NaN,461,105,136,...,8.0,4.0,79,90.0,NaN,0.0,0.0,0.0,2.0,NaN
70269,mantlmi01,1954,1,NYA,AL,146,NaN,543,129,163,...,5.0,2.0,102,107.0,NaN,0.0,2.0,4.0,3.0,NaN
70270,mantlmi01,1955,1,NYA,AL,147,NaN,517,121,158,...,8.0,1.0,113,97.0,6.0,3.0,2.0,3.0,4.0,NaN
70271,mantlmi01,1956,1,NYA,AL,150,NaN,533,132,188,...,10.0,1.0,112,99.0,6.0,2.0,1.0,4.0,4.0,NaN
70272,mantlmi01,1957,1,NYA,AL,144,NaN,474,121,173,...,16.0,3.0,146,75.0,23.0,0.0,0.0,3.0,5.0,NaN
70273,mantlmi01,1958,1,NYA,AL,150,NaN,519,127,158,...,18.0,3.0,129,120.0,13.0,2.0,2.0,2.0,11.0,NaN
70274,mantlmi01,1959,1,NYA,AL,144,NaN,541,104,154,...,21.0,3.0,93,126.0,6.0,2.0,1.0,2.0,7.0,NaN
70275,mantlmi01,1960,1,NYA,AL,153,NaN,527,119,145,...,14.0,3.0,111,125.0,6.0,1.0,0.0,5.0,11.0,NaN
70276,mantlmi01,1961,1,NYA,AL,153,NaN,514,132,163,...,12.0,1.0,126,112.0,9.0,0.0,1.0,5.0,2.0,NaN
70277,mantlmi01,1962,1,NYA,AL,123,NaN,377,96,121,...,9.0,0.0,122,78.0,9.0,1.0,0.0,2.0,4.0,NaN
70278,mantlmi01,1963,1,NYA,AL,65,NaN,172,40,54,...,2.0,1.0,40,32.0,4.0,0.0,0.0,1.0,5.0,NaN
70279,mantlmi01,1964,1,NYA,AL,143,NaN,465,92,141,...,6.0,3.0,99,102.0,18.0,0.0,0.0,3.0,9.0,NaN
70280,mantlmi01,1965,1,NYA,AL,122,NaN,361,44,92,...,4.0,1.0,73,76.0,7.0,0.0,0.0,1.0,11.0,NaN
70281,mantlmi01,1966,1,NYA,AL,108,NaN,333,40,96,...,1.0,1.0,57,76.0,5.0,0.0,0.0,3.0,9.0,NaN
70282,mantlmi01,1967,1,NYA,AL,144,NaN,440,63,108,...,1.0,1.0,107,113.0,7.0,1.0,0.0,5.0,9.0,NaN
70283,mantlmi01,1968,1,NYA,AL,144,NaN,435,57,103,...,6.0,2.0,106,97.0,7.0,1.0,1.0,4.0,9.0,NaN